<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>MyBlog</h1>
    <hr>
    <p>Своим главным недостатком я могу назвать нетерпеливость. Мне трудно сидеть и ждать, я всегда рвусь в бой. Из-за этого
        я иногда принимаю слишком поспешные решения, о которых потом жалею. Но я стараюсь работать над собой и воспитывать в
        себе умение выжидать. Это очень сложно, потому что по темпераменту я холерик.
    </p>
    <i>Ivan Sche, 2002</i>
</body>
</html>